$dark-grey: #222;
$light-grey: #777;
$grey: #333;
$tunablue: #2c7edf;
$light-blue: #7cb2d7;
$linkColor: #08C;
$thucolor: #71337F;
$contentBgColor: #efefef;

$navWidth: 120px;
$footerHeight: 22px;
$headerHeight: 60px;

body {
    font-size: 16px;
    color: #444;
}
a, a:visited {
    color: $tunablue;
    text-decoration: none;
}
a:hover {
    color: $light-blue;
}

h1,h2,h3,h4 {
    color: $thucolor;
}

.aside {
    border: 1px solid $light-grey;
    background-color: darken(#FFF, 10%);
}

.placeholder {
    height: 1em;
    width: 100%;
    display: none;
    @media screen and (min-width: 1130px) {   
        display: block;
    }
}

.padding-1-lr {
    @media screen and (min-width: 1130px) {
        padding-left: 1em;
        padding-right: 1em;
    }
    @media screen and (max-width: 1129px) {
        padding-left: 1%;
        padding-right: 1%;
    } 
}

.padding-2-lr {
    @media screen and (min-width: 1130px) {
        padding-left: 2em;
        padding-right: 2em;
    }
    @media screen and (max-width: 1129px) {
        padding-left: 2%;
        padding-right: 2%;
    } 
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.nospam {
	display: none;
}

.pure-g-r [class *="pure-u"] {
    font-family: "Open Sans", "Ubuntu", "Hiragino Sans GB", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "STHeiti", "微软雅黑", sans-serif; 
}

#wrapper {
    background-color: #FFFFFF;
    @media screen and (min-width: 1130px) {
        margin: 0 5% 0 5%;
        width: auto;
    }
    @media screen and (max-width: 1129px) {
        width: 100%;
    }
}

#header {
    margin-bottom: 1em;
    //border-bottom: 1px solid $thucolor;
    background-color: $thucolor;
    h1 {
        color: white; 
        font-weight: normal;
    }
    .tagline {
        margin-bottom: 1.2em; 
        color: lighten($thucolor, 50%);
    }
    
    .pure-menu {
        background-color: transparent;
        li {
            &.pure-menu-selected, &.pure-menu-selected:hover {
                a, a:hover {
                    font-weight: bold;
                    color: $thucolor; 
                }
                background-color: white;
            }
            a {
                &:hover {
                    background-color: transparent !important; 
                    color: $thucolor; 
                }
                color: white;
            }
            &:hover {
                background-color: white; 
            }
            background-color: $thucolor;
            height: 100%;
        }
    }

}

#mirrorlist {
    width: 100%;
    border-spacing: 0;
    thead, tbody, tr {
        width: 100%; 
    }
    th {
        color: $thucolor; 
    }
    th, td {
        text-align: left;
        padding: 4px 0;
        background-color: transparent;
    }
    
    thead > tr {
        border-bottom: 1px solid #DDD;
    }
    tbody > tr:nth-child(even) {
        background-color: lighten($thucolor, 60%);
    }

    .distribution {
        width: 20%; 
        @media screen and (max-width: 768px) {
            width: 60%; 
        }
    }
    .description {
        width: 40%;
        @media screen and (max-width: 768px) {
            display: none; 
        }
    }
    .update {
        width: 20%; 
        @media screen and (max-width: 768px) {
            display: none; 
        }
    }
    .help {
        width: 20%; 
        @media screen and (max-width: 768px) {
            width: 40%; 
        }
    }
}

