---
permalink: /404.html
jsEntry: notfound
---
<!DOCTYPE html>
<html>
{% capture metaDesc %}您访问的资源未能找到{% endcapture %}
  {% include head.html cattitle="404" metaDesc=metaDesc notArticle=true%}
  <body>
    {% include nav.html %}
    <div id="mirrors">
      <div class="spacing hidden-xs"></div>
      <div class="container">
        <div class="row">
          <div class="not-found">
            {% if site.meow_404 %}
              <div class="not-found-bg"></div>
            {% endif %}
            <div class="not-found-hint">
              <div class="not-found-code">
              404 NOT FOUND
              </div>
              {% if site.meow_404 %}
                <span class="thuhidden">呜喵，金枪鱼</span>被吃掉了
              {% endif %}
            </div>
            <div class="not-found-text thuhidden">
              如果您认为这一定是出了什么问题，或者正在寻找暂未包含的镜像，欢迎您前往
              <a href="https://github.com/tuna/issues/issues/new/choose">
                {% fa_svg fab.fa-github %} tuna/issues
              </a>
              提交<a href="https://github.com/tuna/issues/issues/new?labels=Service+Issue,404&template=2-bug_report.md" id="new_issue_bug"><!--
           -->错误报告</a><!--
           -->或者<a href="https://github.com/tuna/issues/issues/new?labels=MirrorRequest&template=1-mirror_request.md" id="new_issue_mr"><!--
           -->镜像申请</a>
            </div>
            <div class="not-found-links">
              <a class="not-found-link" href="javascript:history.back()">
              {% fa_svg fas.fa-arrow-left %} 返回上一页
              </a>
              <a class="not-found-link" href="/">
              镜像列表 {% fa_svg fas.fa-arrow-right %}
              </a>
            </div>
          </div>
        </div>
      </div><!--/container -->
    </div><!--/mirrors -->
    {% include footer.html %}
  </body>
</html>
<!--
  vim: ts=2 sts=2 sw=2 noexpandtab
-->
