---
permalink: /
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
	
		<div id="mirrors">
			<div class="spacing hidden-xs"></div>

			<div class="container">
				<div class="row">
					{% raw %}
					<div class="col-md-8 table-responsive" id="mirror-list">
						<div class="row">
						  <h3 id="mirror-title"><span class="fa fa-cube"></span> 📚📚📚📚 </h3>
						  <input type="search" v-model="filter" id="search" placeholder="🔍" autocomplete="off">
						</div>
						<table class="table" v-if="mirrorList.length">
							<thead>
								<tr class="row">
									<th class="col-sm-8">🔖</th>
									<th class="col-sm-4">🕰️</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="mir in filteredMirrorList" :class="['row', 'status-'+mir.status]">
									<template v-if="mir.is_master">
									<td class="col-md-8">
										<a class="mirror-item-label"  data-toggle="popover" data-trigger="hover" data-placement="right" 
											:data-content="mir.description" :href="getURL(mir)">
											{{mir.name}}
											<span class="label label-new" v-if='mir.is_new'>🆕</span>
											<a v-if='mir.help_url' :href="mir.help_url"><i class="fa fa-question-circle" title="Help"></i></a>
										</a>
									</td>
									<td class="col-md-4">
										{{mir.last_update}}<span v-if="mir.show_status" :class="['label', 'label-status', mir.label, 'hidden-xs']">{{mir.status}}</span>
									</td>
									</template>
								</tr>
							</tbody>
						</table>
						<div v-else class="sk-wave">
							<div class="sk-rect sk-rect1"></div>
							<div class="sk-rect sk-rect2"></div>
							<div class="sk-rect sk-rect3"></div>
							<div class="sk-rect sk-rect4"></div>
							<div class="sk-rect sk-rect5"></div>
						</div>
					</div>
					{% endraw %}
					<div class="col-md-4">
						<div class="spacing hidden-xs"></div>
						<div id="wizard">
						</div>
						<div id="news">
							<h4><span class="fa fa-bullhorn"></span> 🗞️📻📰 </h4>
							<ul>
								{% for news in site.categories.news limit: 3%}
								<li><a href="/news/#{{news.slug}}"><strong>{{news.date | date: "%Y-%m-%d"}}</strong> {{news.title}}</a></li>
								{% endfor %}
							</ul>
							<div class="text-right"><a href="/news/"> more <span class="fa fa-angle-double-right"></span> </a></div>
						</div>
						<div>
							<h4> <span class="fa fa-link"></span> 🌐 </h4>
							<ul>
								<li><a href="https://mirrors.tuna.tsinghua.edu.cn/">https://mirrors.tuna.tsinghua.edu.cn/</a> 4 / 6 </li>
								<li><a href="https://mirrors6.tuna.tsinghua.edu.cn/">https://mirrors6.tuna.tsinghua.edu.cn/</a> 6 </li>
								<li><a href="https://mirrors4.tuna.tsinghua.edu.cn/">https://mirrors4.tuna.tsinghua.edu.cn/</a> 4 </li>
							</ul>
						</div>
						<div id="download-link">
							<h4><span class="fa fa-file-archive-o"></span> 💿 </h4>
							<p>💿📚💾</p>
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#isoModal">
								🔗
							</button>
						</div>
						<div>
							<h4> <span class="fa fa-envelope-o"></span> ☎️💁 </h4>
							<ul>
								<li><strong>😠💬</strong> <br /> <a href="https://github.com/tuna/issues">https://github.com/tuna/issues</a></li>
								<li><strong>📧</strong> <br /> <a id="eib1gieB"></a></li>
								<li><strong>👋💬</strong> <br /> <a href="https://fishroom.tuna.moe/log/tuna/today"> #tuna at freenode </a></li>
							</ul>
						</div>
						<div>
							<h4> <span class="fa fa-external-link"></span> 🔗 </h4>
							<ul>
								<li><a href="/help/">🆘</a></li>
								<li><a href="/status/#server-status">🥔🌡️</a></li>
								<li><a href="/status/#syncing-status">💾🌡️</a></li>
								<li><a href="https://tuna.moe/">🐟🐟🐟</a></li>
								<li><a href="https://github.com/tuna/tunasync">👨‍💻</a></li>
								<li><a href="https://github.com/tuna/tunasync-scripts">📇</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--/container -->
		</div><!--/mirrors -->

		{% include footer.html %}
		<!-- iso download wizard modal -->
		<!-- Modal -->
		{% raw %}
		<div class="modal fade" id="isoModal" tabindex="-1" role="dialog" aria-labelledby="isoModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title" id="isoModalLabel">💿+📚</h4>
		      </div>
		      <div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-tabs">
								<li role="presentation" :class="[curCategory === 'os' ? 'active' : '']" @click="switchCategory('os')"><a href="#">💿</a></li>
								<li role="presentation" :class="[curCategory === 'app' ? 'active' : '']" @click="switchCategory('app')"><a href="#">📚</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="nav nav-pills nav-stacked">
								<li v-for="distro in curDistroList" :class="[selected.distro == distro.distro ? 'active' : '']">
									<a href="#" @click="switchDistro(distro)">{{ distro.distro }}</a>
								</li>
							</ul>
						</div>
						<div class="col-md-9">
							<h3>{{selected.distro}}</h3>
							<ul>
								<template v-for="url in selected.urls">
								<li><a :href="url.url">{{url.name}}</a></li>
								</template>
							</ul>
						</div>
					</div>

		      </div>
		    </div>
		  </div>
		</div><!-- /iso download wizard modal -->
		{% endraw %}

	</body>
	{% raw %}
	{% endraw %}
	<script src="/static/js/index.js"></script>
	<script src="/static/js/browser-update.js"></script>
</html>
<!--
	vim: ts=2 sts=2 sw=2 noexpandtab
-->
