---
permalink: /news/
---
<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	{% include nav.html %}

<div id="news-page">
	<div class="spacing"></div>
	<div class="container">
	  <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div>
					<h2><span class="fa fa-newspaper-o"></span> 镜像站新闻</h2>
					<div id="news-content">
						{% for news in site.categories.news %}
						<article>
							<div class="head" id="{{news.slug}}">
								<h3># {{news.title}}</h3>
							</div>
							<div class="meta">
								<span class="fa fa-calendar"></span> {{news.date | date: "%Y-%m-%d"}} <span class="fa fa-user" style="margin-left: 1em"> {{ news.author }}</span>
							</div>
							<div class="content">{{news.content | markdownify }}</div>
						</article>
						<hr />
						{% endfor %}
					</div>
				</div>
			</div><!-- news content -->
			<div class="col-md-2"></div>
	  </div>
	</div><!--/container -->
	<div class="spacing"></div>
</div>

	{% include footer.html %}
</body>

</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
