---
permalink: /news/
title: 镜像站新闻
---
<!DOCTYPE html>
<html lang="zh-Hans">
{% capture metaDesc %}镜像站新闻{% endcapture %}
	{% include head.html metaDesc=metaDesc notArticle=true %}
<body>
	{% include nav.html %}

<div id="news-page">
	<div class="spacing"></div>
	<div class="container">
	  <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div>
					<h2><span class="fa fa-newspaper-o"></span> 镜像站新闻</h2>
					<div id="news-content">
						{% for news in site.categories.news %}
						<article>
							<div class="head" id="{{news.slug}}">
								<h3><a href="{{news.url}}"># {{news.title}}</a></h3>
							</div>
							<div class="text-secondary mb-2">
								{% fa_svg fas.fa-calendar %} {{news.date | date: "%Y-%m-%d"}} <span style="margin-left: 1em"> {% fa_svg fas.fa-user %} {{ news.author }}</span>
							</div>
							<div class="content">{{news.content | markdownify }}</div>
						</article>
						<hr />
						{% endfor %}
					</div>
				</div>
			</div><!-- news content -->
			<div class="col-md-2"></div>
	  </div>
	</div><!--/container -->
	<div class="spacing"></div>
</div>

	{% include footer.html %}
</body>

</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
