---
permalink: /status/
jsEntry: status
---
<!DOCTYPE html>
<html>
{% capture metaDesc %}镜像站监控，包括网络流量、磁盘状态、磁盘占用和 CPU 与内存的使用情况，以及各个镜像的同步状态{% endcapture %}
	{% include head.html metaDesc=metaDesc notArticle=true %}
<body>
	{% include nav.html %}
	<div id="status-page">
	{% unless site.issue %}
		<div class="spacing hidden-xs"></div>
		<div class="container">
			{% unless site.hide_server_status %}
			<h3 id="server-status"> # 服务器监控 </h3>
			<h4> # 网络流量 </h4>
			<div class="row">
				{% include status-pic.html name="service_traffic_IPv4" %}
				{% include status-pic.html name="service_traffic_IPv6" %}
			</div>
			<h4># 磁盘状态 </h4>
			<div class="row">
				<div id="disk-usage"></div>
				{% include status-pic.html name="diskstats_iops" %}
				{% include status-pic.html name="diskstats_throughput" %}
			</div>
			<h4># CPU / 内存</h4>
			<div class="row">
				{% include status-pic.html name="cpu" %}
				{% include status-pic.html name="memory" %}
			</div>
			{% endunless %}
			<h3 id="syncing-status"># 同步状态</h3>
      <div id="mirror-list" class="row"></div>
		</div><!--/container -->
		{% endunless %}
	</div><!--/status -->
	{% include footer.html %}
</body>
</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
