---
permalink: /status/
---
<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	{% include nav.html %}
	<div id="status-page">
		<div class="spacing hidden-xs"></div>
		<div class="container">
			<h3 id="server-status"> # 🥔🌡️ </h3>
			<h4> # 🖧 </h4>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/service_traffic_IPv4-day.png">
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/service_traffic_IPv6-day.png">
					</div>
				</div>
			</div>
			<h4># 💽 </h4>
			<div class="row">
				<div class="col-md-12"><strong>🥧📈</strong>: </div>
				<div class="col-md-12">
				<div class="progress">
					<div id="disk-usage-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					</div>
				</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/diskstats_iops-day.png">
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/diskstats_throughput-day.png">
					</div>
				</div>
			</div>
			<h4># 👷👷👷👷</h4>
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/cpu-day.png">
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
					<img class="img-responsive" src="/static/status/memory-day.png">
					</div>
				</div>
			</div>
			<h3 id="syncing-status"># 💾🌡️</h3>
			<table class="table table-condensed flat-md">
				<thead class="hidden-xs hidden-sm">
					<tr>
						<th class="col-xs-12 col-md-2">🔖</th>
						<th class="col-xs-12 col-md-2">🕰️</th>
						<th class="col-xs-12 col-md-5">🚿</th>
						<th class="col-xs-12 col-md-1">📝</th>
						<th class="col-xs-12 col-md-2">💾</th>
					</tr>
				</thead>
				<tbody id="mirror-list">
				</tbody>
			</table>
		</div><!--/container -->
	</div><!--/status -->
	{% include footer.html %}
	{% raw %}
	<script id="template" type="x-tmpl-markup">
{{mirrors}}
<tr class="status-{{status}} row">
	<td class="col-xs-4">🔖</td>
	<td class="col-md-2 col-xs-8">{{name}}{{if is_master|falsy}}[slave]{{/if}}</td>
	<td class="col-xs-4">🕰️</td>
	<td class="col-md-2 col-xs-8">{{last_update}}</td>
	<td class="col-xs-4">🚿</td>
	<td class="col-md-5 col-xs-8">{{upstream}}</td>
	<td class="col-xs-4">📝</td>
	<td class="col-md-1 col-xs-8">{{status}}</td>
	<td class="col-xs-4">💾</td>
	<td class="col-md-2 col-xs-8">{{size}}</td>
</tr>
{{/mirrors}}
	</script>
	{% endraw %}
	<script src="/static/js/status.js"></script>
</body>
</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
