{% for footer-i in (1...2) %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <p>🌐清华大学信息化技术中心🙋👏👏，👷👷清华大学 TUNA 协会👷👷</p>
        <p>🐟🐟 清华大学 TUNA 协会 🐟🐟，🔖 "清华大学学生网络与开源软件协会"，👨‍💻🍊👨‍💻👩‍💻👩‍💻🕸️👷</p>
        <p>💻: <a href="https://github.com/tuna/tunasync">👷</a> + <a href="https://github.com/tuna/mirror-web"><em>🌐</em></a></p>
        <p>⚖: 🇪🇺⛔</p>
      </div>

      <div class="col-lg-4 col-md-4">
        <h4>☎️💁</h4>
        <div>
          <ul class="social">
            <li>
            <a href="https://groups.google.com/forum/#!forum/tuna-general"><i class="fa fa-envelope"></i> 📥</a>
            </li>
            <li>
            💬: <a href="https://webchat.freenode.net/?channels=%23tuna">#tuna @ freenode</a>
            </li>
            <li>
            <a href="https://github.com/tuna/"><i class="fa fa-github"></i> 🐙🐱 </a>
            </li>
            <li>
            <a href="http://weibo.com/u/5402274706"><i class="fa fa-weibo"></i> 👁️</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-4"  align="center">
        <img class="img-responsive" style="margin-top:5%" src="/static/img/logo-white.png" srcset="/static/img/logo-white.png 1x, /static/img/logo-white@2x.png 2x, /static/img/logo-white@3x.png 3x, /static/img/logo-white@4x.png 4x" />
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->
{% endfor %}

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
