<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>本站由清华大学信息化建设中心支持创办，由清华大学 TUNA 协会运行维护。</p>
        <p>清华大学 TUNA 协会最初叫清华大学学生网管会，其前身为清华大学电脑协会，是由清华大学网络技术和开源软件爱好者、技术宅组成的团体。</p>
        <p>本站相关源码可在 <a href="https://github.com/tuna/tunasync"><em>这里(镜像管理器)</em></a> 和 <a href="https://github.com/tuna/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
      </div>

      <div class="col-lg-4">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
            <a href="https://groups.google.com/forum/#!forum/tuna-general"><i class="fa fa-envelope"></i> Mailing List</a>
            </li>
            <li>
            IRC: <a href="https://webchat.freenode.net/?channels=%23tuna">#tuna at freenode</a>
            </li>
            <li>
            <a href="https://github.com/tuna/"><i class="fa fa-github"></i> GitHub </a>
            </li>
            <li>
            <a href="http://weibo.com/u/5402274706"><i class="fa fa-weibo"></i> 新浪微博</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="img-responsive" src="/static/img/logo-white.png" />
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
