{% raw %}
<div v-if="false" id="upgrade-mask" style="position: fixed; background: white; width: 100%; height: 100%; z-index: 200; padding-top: 40px; overflow: scroll;" class="container">
	<div class="well">
		<p>尊敬的访问者，</p>
		<p>Dear visitor, </p>
		<p>Chère cliente, </p>
		<p>ご利用者様</p>
		<p>&nbsp;</p>
		<p>您好！</p>
		<p>Hello! </p>
		<p>Bonjour! </p>
		<p>宜しくお願い致します。</p>
		<p>&nbsp;</p>
		<p>我们检测到您当前的浏览器不能正常显示我们的主页，请更新您的浏览器，并启用 Javascript，或者访问我们的<a href="/legacy_index">代用页面</a>。</p>
		<p>Your browser is not compatible with our website. Please upgrade and enable Javascript, or visit our <a href="/legacy_index">alternative page</a>.</p>
		<p>Votre navigateur n'est pas compatible avec notre site web. Mettez à niveau et activez Javascript, ou visitez notre <a href="/legacy_index">page alternative</a>.</p>
		<p>お使いのブラウザは当サイトとの互換性はありません。ブラウザを更新しJavaScriptを有効にするか、或いはこちらの<a href="/legacy_index">代用ページ</a>をご利用ください。</p>
	</div>
</div>
{% endraw %}
