{% raw %}
<div id="upgrade-mask">
<div style="position: fixed; background: white; width: 100%; height: 100%; z-index: 2000; padding-top: 40px; overflow: scroll;" data-bs-theme="light" class="container mw-100">
	<div class="card"><div class="card-body">
		<p lang="zh-Hans">尊敬的访问者，</p>
		<p lang="en">Dear visitor, </p>
		<p lang="fr">Chère cliente, </p>
		<p lang="ja">ご利用者様</p>
		<p>&nbsp;</p>
		<p lang="zh-Hans">您好！</p>
		<p lang="en">Hello! </p>
		<p lang="fr">Bonjour! </p>
		<p lang="ja">宜しくお願い致します。</p>
		<p>&nbsp;</p>
		<p lang="zh-Hans">我们检测到您当前的浏览器不能正常显示我们的主页，请更新您的浏览器，并启用 Javascript，或者访问我们的<a href="/legacy_index">代用页面</a>。</p>
		<p lang="en">Your browser is not compatible with our website. Please upgrade and enable Javascript, or visit our <a href="/legacy_index">alternative page</a>.</p>
		<p lang="fr">Votre navigateur n'est pas compatible avec notre site web. Mettez à niveau et activez Javascript, ou visitez notre <a href="/legacy_index">page alternative</a>.</p>
		<p lang="ja">お使いのブラウザは当サイトとの互換性はありません。ブラウザを更新しJavaScriptを有効にするか、或いはこちらの<a href="/legacy_index">代用ページ</a>をご利用ください。</p>
	</div>
</div></div>
</div>
{% endraw %}
