<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/static/img/logo-small.png" srcset="/static/img/logo-small.png 1x, /static/img/logo-small@2x.png 2x, /static/img/logo-small@3x.png 3x, /static/img/logo-small@4x.png 4x" alt=""/> 清华大学🗽📚💿</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="https://tuna.moe/">🏠</a></li>
        <li><a href="https://tuna.moe/events/">📺</a></li>
        <li><a href="https://tuna.moe/blog/">📝</a></li>
        <li><a href="https://tuna.moe/feed.xml">🍼</a></li>
	<li><a href="https://podcast.tuna.moe/">📻</a></li>
        <li class="active"><a href="http://mirrors.tuna.tsinghua.edu.cn/">💿</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
