<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
			<a class="navbar-brand" href="/">
				<span class="thuhidden">
					{% if site.logo %}
					<svg class="brand-logo darker-traced" style="width: 64px; margin-right: 5px; vertical-align: middle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 257.5 184.5">
						<defs>
							<style>
								.cls-1 {
									fill: #815cb7;
								}

								.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
									stroke-width: 0px;
								}

								.cls-2 {
									fill: #4f9cc5;
								}

								.cls-3 {
									fill: none;
								}

								.cls-6 {
									clip-path: url(#clippath-1);
								}

								.cls-7 {
									clip-path: url(#clippath);
								}

								.cls-4 {
									fill: #bee2e9;
								}

								.cls-5 {
									fill: #fff;
								}
							</style>
							<clipPath id="clippath">
								<path class="cls-3" d="M56.18 92.85c0 47.8 37.25 86.89 84.31 89.83-60.44-5.5-61.39-48.21-44.68-66.24 36.73-39.63 113.09-33.51 113.09-88.18-16.21-15.74-38.32-25.44-62.7-25.44-49.71 0-90.01 40.3-90.01 90.02"/>
							</clipPath>
							<clipPath id="clippath-1">
								<rect class="cls-3" x="33.52" y="-15.34" width="198.04" height="216.21" transform="translate(-21.1 42.09) rotate(-16.74)"/>
							</clipPath>
						</defs>
						<path class="cls-4" d="M64.16 69.39c-13.01 3.77-20.22 5.32-30.97 13.47-7.64 5.64-15.35 15.29-15.35 15.29 0 0 12.11-6.19 22.16-8.41 10.05-2.22 14.69-2.46 17.83-2.2.63-5.89 4.72-12.98 6.33-18.15Z"/>
						<g class="cls-7">
							<g class="cls-6">
								<image width="1051" height="1102" transform="translate(6.48 -39.48) scale(.24)" xlink:href="/static/img/logo-darker.png"/>
							</g>
						</g>
						<path class="cls-2" d="M123.33 29.32s-9.02 10.53-15.84 19.55c-4.94 6.53-13.67 11.46-24.91 15.59-10.04 3.7-23.73 6.5-23.73 6.5 0 0 2.06-9.14 4.55-10.63 6.56-3.94 59.93-31.01 59.93-31.01Z"/>
						<path class="cls-4" d="M119.67 96.27c-7.96 7.97-8.98 10.25-11.41 17.75-3.33 10.26-1.85 25.48-1.85 25.48 0 0-3.51-3.39-6.26-13.48-2.12-7.75-1.83-14.16-1.83-14.16 0 0 2.08-4.8 8.48-9.5 6.39-4.69 12.88-6.09 12.88-6.09Z"/>
						<path class="cls-1" d="M176.41 76.59c-.07 8.12.43 11.68-.28 21.48-.67 9.2-4.12 16.39-4.12 16.39 0 0 .14-7.4-1-13.38-1.14-5.98-8.03-17.57-8.03-17.57 0 0 1.59-.19 6.18-2.42 5.25-2.55 7.25-4.5 7.25-4.5Z"/>
						<path class="brand-img-text" d="M182.74 26.79c0 2.91-2.47 5.28-5.52 5.28s-5.52-2.36-5.52-5.28 2.47-5.27 5.52-5.27 5.52 2.36 5.52 5.27Z"/>
						<path class="brand-img-text" d="M133.54 166.9c0 10.94 2.91 14.73 8.03 14.73 2.74 0 4.8-.29 6.71-.88v.43c-2.17.8-4.68 1.37-7.54 1.37-4.68 0-15.42 0-15.42-16.11v-35.09h-11.57v-7.54h11.57v-16.11h8.23v16.11h14.74v7.54h-14.74v35.55Z"/>
						<path class="brand-img-text" d="M183.19 124.63v34.65c0 15.88-3.49 23.27-15.72 23.27s-15.72-7.39-15.72-23.27v-34.65h8.23v33.48c0 11.54.55 20.06 7.49 20.06s7.49-8.52 7.49-20.06v-33.48h8.23Z"/>
						<path class="brand-img-text" d="M219.78 146.14v35.5h-8.23v-38.76c0-9.03-.64-14.24-6.98-14.24-3.34 0-6.17 2.43-6.98 4.66v48.34h-8.23v-52.44c2.11-1.61 8.29-5.6 15.94-5.6 14.46 0 14.46 9.29 14.46 22.54"/>
						<path class="brand-img-text" d="M254.33 147.36v17.14c0 15.32-5.12 18.06-14.45 18.06-15.19 0-15.71.93-15.71-18.39s14.77-18.73 20.02-18.73 2.61.57 2.61.57c0-10.74.97-17.74-8.52-17.74-4.82 0-9.31 1.53-11.79 3.05v-3.91c3.59-2.45 7.47-3.79 12.24-3.79 15.99 0 15.59 11.49 15.59 23.76M246.92 150.27s2.76-.68-3.64-.68c-6.85 0-11.7 4.06-11.7 14.57s-.26 12.37 8.3 12.37c6.74 0 7.04-4.98 7.04-12.03v-14.23Z"/>
						<path class="cls-1" d="M3.46 93.28C23.31 53.49 41.35 31.48 123.33 29.31c0 0-17.18 18.97-24.13 23.81-21.99 15.31-63.75 9.81-95.74 40.16"/>
					</svg>
					{% endif %}
					{{ site.school }}</span>开源软件镜像站
			</a>
    </div>
		<div class="dark-switch" data-mode="light">
			<div class="dark-switch-inner" data-mode="light">
				<span class="dark-switch-icon" data-active="light">{% fa_svg fas.fa-sun %}</span>
				<span class="dark-switch-icon" data-active="dark">{% fa_svg fas.fa-moon %}</span>
				<span class="dark-switch-icon" data-active="darker">{% fa_svg fas.fa-lightbulb %}</span>
				<span class="dark-switch-icon" data-active="lighter">{% fa_svg fas.fa-fire %}</span>
			</div>

			<div class="dark-switch-hint dark-switch-hint-ack">
				<strong>主题切换键<sup>Beta</sup></strong><br/>
				TUNA Mirrors 现已支持在 Light / Dark / Darker / Lighter 模式之间自由切换了！
			</div>
		</div>
		<div class="nav-right">
			<div class="{% unless page.legacy %}navbar-collapse collapse {% endunless %}navbar-right">
				<ul class="nav navbar-nav" role="menubar">
					{% unless site.hide_navbar %}
					<li role="none"><a role="menuitem" href="{{ site.homelink }}">HOME</a></li>
					<li role="none"><a role="menuitem" href="https://tuna.moe/events/">EVENTS</a></li>
					<li role="none"><a role="menuitem" href="https://tuna.moe/blog/">BLOG</a></li>
					<li role="none"><a role="menuitem" href="https://tuna.moe/feed.xml">RSS</a></li>
					<li role="none"><a role="menuitem" href="https://podcast.tuna.moe/">PODCAST</a></li>
					<li role="none" class="active" style="position: relative">
						<a role="menuitem" aria-checked="true" href="{{ site.url }}">MIRRORS</a>
						<svg class="darker-traced" style="opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; height: 2px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 84.21 2">
							<path d="M 0 0 L 84.21 0 L 84.21 2 L 0 2 z"></path>
						</svg>
					</li>
					{% endunless %}
				</ul>
			</div><!--/.nav-collapse -->
      {% unless page.legacy %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% endunless %}
		</div>
  </div>
</div>
