<div class="col-md-6 col-xs-12">
	<picture class="thumbnail">
		
	<source 
		srcset="{{ '/static/status/' | append: include.name | append: '-day-dark.png' | relative_url }} 1x,
		{{ '/static/status/' | append: include.name | append: '-day-dark@2x.png' | relative_url }} 2x,
		{{ '/static/status/' | append: include.name | append: '-day-dark@3x.png' | relative_url }} 3x,
		{{ '/static/status/' | append: include.name | append: '-day-dark@4x.png' | relative_url }} 4x"
		media="(prefers-color-scheme: dark)" />
	<img class="img-responsive" src="{{ '/static/status/' | append: include.name | append: '-day.png' | relative_url }}"
		srcset="{{ '/static/status/' | append: include.name | append: '-day.png' | relative_url }} 1x,
		{{ '/static/status/' | append: include.name | append: '-day@2x.png' | relative_url }} 2x,
		{{ '/static/status/' | append: include.name | append: '-day@3x.png' | relative_url }} 3x,
		{{ '/static/status/' | append: include.name | append: '-day@4x.png' | relative_url }} 4x"
	/>
	</picture>
</div>
