{%- comment -%}
  This file is included in markdown.
  Ensure that no blank lines are output.
{%- endcomment -%}
{%- assign inputs = include.input | split: " " -%}
{%- assign codeId = include.codeId -%}
{%- for inputName in inputs -%}
  {%- assign input = include.inputVars[inputName] -%}
  {%- capture inputID %}zhelp-input-{% page_increment zinputCounter %}{% endcapture -%}
  {%- capture tooltip %}{% if input["note"] %}title="{{input["note"]}}"{% endif %}{% endcapture -%}
  <label for="{{inputID}}" {{ tooltip }}>{{ input['_'] }}</label>
  {%- if input["option"] -%}
  <select id="{{inputID}}" data-z-name="{{inputName}}" data-z-for-code="{{codeId}}" {{ tooltip }}>
    {%- for option in input["option"] -%}
      <option {{ '' -}}
        value="{{option[0]}}" {{ '' -}}
        {%- if option[1] and option[1]["default"] %}selected {% endif -%}
        {%- if option[1] %}{% for attr in option[1] -%}
          {%- unless attr[0] == "_" or attr[0] == "default" -%}
            data-z-set-{{attr[0]}}="{{attr[1]}}" {{ '' -}}
          {%- endunless -%}
        {%- endfor %}{% endif -%}
      >
      {%- if option[1] and option[1]["_"] %}{{option[1]["_"]}}{% else %}{{option[0]}}{% endif %}</option>
    {%- endfor -%}
  </select>
  {%- elsif input["true"] != blank or input["false"] != blank -%}
  <input id="{{inputID}}" type="checkbox" {{ '' -}}
    data-z-name="{{inputName}}" data-z-for-code="{{codeId}}" {{ tooltip }} {{ '' -}}
    {%- if input['default'] %}checked {% endif -%}
    {%- if input["true"] %}data-z-true="{{input["true"]}}" {% endif -%}
    {%- if input["false"] %}data-z-false="{{input["false"]}}" {% endif -%}
  >
  {%- else -%}
  <input id="{{inputID}}" type="text" {{ '' -}}
    data-z-name="{{inputName}}" data-z-for-code="{{codeId}}" {{ tooltip }} {{ '' -}}
    value="{{ input['default'] | default: "" }}" {{ '' -}}
  >
  {%- endif -%}
{%- endfor -%}
