/*	################################################################
1. GENERAL STRUCTURES
################################################################# */
* { 
    margin: 0;
    // padding: 0px;
} 

body { 
    background: #ffffff; 
    margin: 0; 
    height: 100%; 
    color: $color_secondary;
    font-weight: 400;
}
html.wf-inactive body {
    font-family: $font_local;
}
html.wf-active body {
    font-family: $font_default;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    padding-left: 1em;
}

p { 
    padding: 0; 
    margin-bottom: 12px; 
    font-weight: 400;
    font-size: 14px; 
    line-height: 24px;
    color: $color_secondary ; 
    margin-top: 10px; 
}

img {
    height: auto;
    max-width: 100%;
}

a { 
    color:$color_link;
    padding: 0;
    margin: 0;
    text-decoration: none; 
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color:$color_link_hover;
}

::-moz-selection  {
    color: #fff;
    text-shadow:none;
    background:$color_secondary;
}
::selection {
    color: #fff;
    text-shadow:none;
    background:$color_secondary;
}

.centered {
    text-align: center
}

