/*	################################################################
1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
    // padding: 0px;
}

body {
    background: #ffffff;
    margin: 0;
    /* height: 100%; */ 
    color: $color_secondary;
    @include dark{
        color: $color_secondary_dark;
    }
    font-family: $font_default;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    padding-left: 1em;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color_secondary ;
    @include dark{
        color: $color_secondary_dark;
    }
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    color:$color_link;
    @include dark{
      color: $color_link_dark;
    }
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linea, border-color .4s linearr;
    -o-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear, border-color .4s linear;
    transition: background-color .4s linear, color .4s linear, border-color .4s linear;
}

a:hover, a:focus {
    text-decoration: none;
    color:$color_link_hover;
}

::-moz-selection  {
    color: #fff;
    text-shadow:none;
    background:$color_secondary;
    @include dark{
      background: $color_secondary_dark;
    }
}
::selection {
    color: #fff;
    text-shadow:none;
    background:$color_secondary;
    @include dark{
      background: white;
      color: $color_secondary;
    }
}

.centered {
    text-align: center
}
