<div id="footer">
    <div id="footercontent">
        <div id="footerleft">
            <p>本站{% if site.operator %}由{{ site.operator }}支持创办，{% endif %}由清华大学 TUNA 协会运行维护。</p>
            <p>清华大学 TUNA 协会，全名清华大学学生网络与开源软件协会，是由清华大学热爱网络技术和开源软件的极客组成的学生技术社团。</p>
            <p>本站相关源码可在 <a href="https://github.com/tuna/tunasync"><em>这里(镜像管理器)</em></a> 和 <a
                    href="https://github.com/tuna/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
            <p>根据相关法律法规，本站不对欧盟用户提供服务。</p>
        </div>
        <div id="footerright">
            <p>
                <span style="font-family:'Open Sans','Seoge UI','Ubuntu',sans-serif; font-size:2em; font-weight:400">
                    TUNA
                </span>
            </p>
            <p style="font-family:'clicker script','segoe script','Comic Sans MS'; font-size:28px">"life,love,linux"</p>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>