<div id="header">
    <ul id="headlinks">
        <li><a href="{{ site.homelink }}" target="_blank">Home</a></li>
        <li><a href="https://tuna.moe/events/" target="_blank">Events</a></li>
        <li><a href="https://tuna.moe/blog/" target="_blank">Blog</a></li>
        <li><a href="https://tuna.moe/feed.xml" target="_blank">RSS</a></li>
        <li><a href="https://tuna.moe/feed.xml" target="_blank">Podcast</a></li>
        <li><a href="{{ site.url }}" target="_blank">Mirrors</a></li>
    </ul>
</div>
<div id="welcome">
    <div id="intro">
        <h1 id="infinity">Another infinity</h1>
        <h2>Welcome to {{ site.brand }}.</h2>
        <p>Brought to you by {{ site.author }}.</p>
        <br>
    </div>
</div>