<div id="sidebar">
    <div id="servernews">
        <a href="/news/">
            <h3>镜像站新闻通知</h3>
        </a>
        {% if site.categories.news|length > 0 %}
        {% for news in site.categories.news limit: 3%}
        <p><a href="/news/#{{news.slug}}">{{ news.title }}</a></p>
        {%- endfor %}
        {% else %}
        <p>暂无新闻
        <p>
            {% endif %}
    </div>
    <div id="cdimages">
        <h3>获取发行版映像</h3>
        <p>这里为您提供各大主流 Linux 发行版的安装镜像 / ISO 文件，请根据您的发行版及其详细版本进行选择：</p>
        <p></p>
        <span class="btn" onclick="modal()">获取安装镜像 &gt;</span>
    </div>
    <div id="domains">
        <h3>域名选择</h3>
        <a href="https://mirrors.tuna.tsinghua.edu.cn/">mirrors.tuna.tsinghua.edu.cn</a> 自动选择<br />
        <a href="https://mirrors6.tuna.tsinghua.edu.cn/">mirrors6.tuna.tsinghua.edu.cn</a> IPv6<br />
        <a href="https://mirrors4.tuna.tsinghua.edu.cn/">mirrors4.tuna.tsinghua.edu.cn</a> IPv4<br />
        <span></span>
    </div>
    <!-- <div id="mirrorshelp">
        <h3>Mirrors 帮助</h3>
        <p>如果您不了解如何配置 Linux 发行版 / 软件的安装源， 这里为您提供了主流发行版的软件源配置帮助：</p>
        <span class="btn" onclick="window.open('/help')">配置软件源 &gt;</span>
        <p>您也可以通过左边的文件列表中相应源的 Help 链接寻求帮助。</p>
        <span></span>
    </div> -->
    <div id="mirrorlinks">
        <h3>相关链接</h3>
        <a href="/help/" target="_blank">使用帮助</a><br />
        <a href="/status/#server-status" target="_blank">服务器状态</a><br />
        <a href="/status/#syncing-status" target="_blank">同步状态</a><br />
        <a href="https://tuna.moe/" target="_blank">清华大学 TUNA 协会</a><br />
        <a href="https://github.com/tuna/tunasync" target="_blank">镜像管理器源码</a><br />
        <a href="https://github.com/tuna/tunasync-scripts" target="_blank">自定义镜像脚本</a><br />
        <span></span>
    </div>
</div>
<div style="clear: both;"></div>
