
.nospam {
	display: none;
}

.mirrors-stat table th,
.mirrors-stat table td {
	border: 1px solid gray;
	border-width: 1px 0 0 1px;
}
.mirrors-stat table {
	border: 1px solid gray;
	border-width: 1px 1px 1px 0;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
}
.mirrors-stat table thead:first-child tr:first-child th {
	border-top-width: 0;
}
.mirrors-stat table thead:first-child tr:first-child th:first-child,
.mirrors-stat table tbody:first-child tr:first-child td:first-child {
	border-top-left-radius: 4px;
}
.mirrors-stat table thead:first-child tr:first-child th:last-child,
.mirrors-stat table tbody:first-child tr:first-child td:last-child {
	border-top-right-radius: 4px;
}
.mirrors-stat table thead:last-child tr:last-child th:first-child,
.mirrors-stat table tbody:last-child tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}
.mirrors-stat table thead:last-child tr:last-child th:last-child,
.mirrors-stat table tbody:last-child tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}
.mirrors-stat table tbody tr:nth-child(10n) td,
.mirrors-stat table tbody tr:nth-child(10n) th {
	border-bottom-width: 1px;
}
.mirrors-stat td {
	padding: 3px;
}
.mirrors-stat td.official {
	text-align: center;
}
.mirrors-stat td.size, .mirrors-stat td.files_count {
	text-align: right;
}
.mirrors-stat td.req_size, .mirrors-stat td.req_files_count {
	text-align: right;
}
.mirrors-stat thead {
	text-align: center;
	font-weight: bolder;
}
.description {
	font-size: smaller;
	width: auto;
}

.tuna-logo img {
	vertical-align: middle;
	border-style: none;
}

.sync-state {
	white-space: nowrap;
}

.sync-ed {
	background-color: #00ff00;
}
.sync-ing {
	background-color: #ffff00;
}
.sync-unknown {
	background-color: #00ffff;
}
.sync-fail {
	background-color: #ff0000;
}


/* tables */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

#status-table-footnote {
	font-size: smaller;
}

#status-table h3 a {
	text-decoration: none;
}

@media screen and (min-width: 1130px) {
	body {
		background-color: #82318E; /* tsinghua purple */
		font-size: 16px;
	}

	#wrapper {
		background-color: #FFFFFF;
		border-radius: 5px;
		margin: 0 15% 0 15%;
		width: auto;
	}

	#header, #emergency-notice, #content, #footer {
		margin-left: 1em;
		margin-right: 1em;
	}

	#header {
		padding-top: 1px;
	}

	.tagline {
		font-family: serif;
		font-style: italic;
	}
}
/* vi: se noet ts=8 sw=8: */
