.nospam {
	display: none;
}

.mirrors-stat table td {
	border: 1px solid gray;
}
.mirrors-stat table {
	border-collapse: collapse;
}
.mirrors-stat td {
	padding: 3px;
}
.mirrors-stat td.official {
	text-align: center;
}
.mirrors-stat td.size, .mirrors-stat td.files_count {
	text-align: right;
}
.mirrors-stat thead {
	text-align: center;
	font-weight: bolder;
}
.description {
	font-size: smaller;
	width: auto;
}

.tuna-logo img {
	vertical-align: middle;
	border-style: none;
}

.sync-state {
	white-space: nowrap;
}

.sync-ed {
	background-color: #00ff00;
}
.sync-ing {
	background-color: #ffff00;
}
.sync-unknown {
	background-color: #00ffff;
}
.sync-fail {
	background-color: #ff0000;
}


/* tables */

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #FFFFFF;
	border: 1px solid #000;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

#status-table-footnote {
	font-size: smaller;
}

@media screen and (min-width: 1000px) {
	body {
		background-color: #883388;
		font-size: 16px;
	}

	#wrapper {
		background-color: #FFFFFF;
		border-radius: 5px;
		margin: 0 15% 0 15%;
		width: auto;
	}

	#header, #content, #footer {
		margin-left: 1em;
		margin-right: 1em;
	}

	#header {
		padding-top: 1px;
	}

	.tagline {
		font-family: serif;
		font-style: italic;
	}
}
/* vi: se noet ts=8 sw=8: */
