@import 'nib'

global-reset()

// grid system

gutter-width = 20px
column-width = 60px
columns = 12
total-width = (gutter-width + column-width) * columns

.row
  margin-left gutter-width * -0.5
  clearfix()

span(x)
  display inline
  overflow hidden
  float left
  width (column-width + gutter-width) * x - gutter-width
  min-height 30px

[class*='span']
  margin-left gutter-width

offset(x)
  margin-left (column-width + gutter-width) * x + gutter-width

for x in 1..12
  .span{x}
    span(x)
  .offset{x}
    offset(x)

// components

::selection
  background #adf

body
  font-family '微软雅黑', '文泉驿微米黑', '黑体', Georgia, Arial, sans-serif
  background darken(white, 13%)

a
  text-decoration none

p
  margin-top 1em
  margin-bottom 1em

pre
  font-family Inconsolata, Consolas, Monaco, Courier, monospace
  font-size 0.8rem
  white-space pre-wrap
  border 1px solid #bbb
  background #faf8f0
  padding 4px

ul
  list-style-type none
  padding 0

li
  margin 0

h1, h2, h3
  text-align center
  line-height 2em

h1
  font-size 2em
  font-weight bold
  color #640

h2
  font-size 1.3em
  font-weight bold
  color hsl(300, 80%, 30%)
  margin-bottom 20px

h3
  color hsl(120, 90%, 20%)
  border-bottom 1px solid
  margin-bottom 15px

section
  margin-bottom 40px
  border-radius 10px
  padding 10px 0px
  background darken(white, 5px)
  box-sizing border-box

.container
  width total-width
  margin 0 auto

.scheme
  box-shadow 0 0 5px -1px black
  border-radius 10px
  background hsl(120, 40%, 93%)
  padding 8px
  box-sizing border-box

.alert
  margin-bottom 40px
  border-radius 10px
  padding 10px
  background hsl(50, 80%, 90%)
  color hsl(38, 45%, 50%)
  text-align center

// masthead

#masthead
  margin-bottom 36px

#logo-container
  position absolute
  top 20px

#nodejs
  display block

#ribbon
  display inline-block
  width 50px

#npm
  display inline-block
  width 100px
  vertical-align top
  padding-top 20px

#logo
  padding-top 25px
  margin-left 200px

// footer

footer
  border-top 3px double lighten(black, 10%)
  font-size small
  text-align center
