html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.row {
  margin-left: -10px;
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
[class*='span'] {
  margin-left: 20px;
}
.span1 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 60px;
  min-height: 30px;
}
.offset1 {
  margin-left: 100px;
}
.span2 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 140px;
  min-height: 30px;
}
.offset2 {
  margin-left: 180px;
}
.span3 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 220px;
  min-height: 30px;
}
.offset3 {
  margin-left: 260px;
}
.span4 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 300px;
  min-height: 30px;
}
.offset4 {
  margin-left: 340px;
}
.span5 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 380px;
  min-height: 30px;
}
.offset5 {
  margin-left: 420px;
}
.span6 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 460px;
  min-height: 30px;
}
.offset6 {
  margin-left: 500px;
}
.span7 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 540px;
  min-height: 30px;
}
.offset7 {
  margin-left: 580px;
}
.span8 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 620px;
  min-height: 30px;
}
.offset8 {
  margin-left: 660px;
}
.span9 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 700px;
  min-height: 30px;
}
.offset9 {
  margin-left: 740px;
}
.span10 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 780px;
  min-height: 30px;
}
.offset10 {
  margin-left: 820px;
}
.span11 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 860px;
  min-height: 30px;
}
.offset11 {
  margin-left: 900px;
}
.span12 {
  display: inline;
  overflow: hidden;
  float: left;
  width: 940px;
  min-height: 30px;
}
.offset12 {
  margin-left: 980px;
}
::selection {
  background: #adf;
}
body {
  font-family: '微软雅黑', '文泉驿微米黑', '黑体', Georgia, Arial, sans-serif;
  background: #dedede;
}
a {
  text-decoration: none;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
pre {
  font-family: Inconsolata, Consolas, Monaco, Courier, monospace;
  font-size: 0.8rem;
  white-space: pre-wrap;
  border: 1px solid #bbb;
  background: #faf8f0;
  padding: 4px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0;
}
h1,
h2,
h3 {
  text-align: center;
  line-height: 2em;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #640;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #8a0f8a;
  margin-bottom: 20px;
}
h3 {
  color: #056105;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}
section {
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 0px;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.scheme {
  -webkit-box-shadow: 0 0 5px -1px #000;
  box-shadow: 0 0 5px -1px #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e6f4e6;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.alert {
  margin-bottom: 40px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #faf3d1;
  color: #b98f46;
  text-align: center;
}
#masthead {
  margin-bottom: 36px;
}
#logo-container {
  position: absolute;
  top: 20px;
}
#nodejs {
  display: block;
}
#ribbon {
  display: inline-block;
  width: 50px;
}
#npm {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  padding-top: 20px;
}
#logo {
  padding-top: 25px;
  margin-left: 200px;
}
footer {
  border-top: 3px double #1a1a1a;
  font-size: small;
  text-align: center;
}
