---
jsEntry: help
---
<!DOCTYPE html>
<html lang="zh-Hans">
{% capture metaDesc %}{{ page.zconf.name }} 使用帮助{% endcapture %}
	{% include head.html cattitle="镜像站使用帮助" metaDesc=metaDesc %}
<body>
	{% include nav.html %}

{% if page.zconf.redirect_help_id %}
{% assign redirect_to_page = site["help"] | where_exp:"p", "p.zconf.name == page.zconf.redirect_help_id" %}
<script>
	var redirect_to = window.location.protocol + "//" + window.location.host + "{{redirect_to_page[0].url}}";
	window.location = redirect_to;
</script>
{% endif %}

{% assign help_pages = site["help"] | sort: 'zconf.name' %}
<div id="help-page">
	<div class="container">
	  <div class="row">
		  <div class="d-none d-md-block col-md-3">
				<ul class="nav nav-pills flex-column" id="help-nav">
					{% for h in help_pages %}
					<li class="nav-item" id="toc-{{h.zconf.name}}"><a href="{{h.url}}" class="nav-link{% if h.zconf.name == page.zconf.name or h.zconf.redirect_help_id == page.zconf.name %} active{%endif%}">{{h.zconf.name}}</a></li>
					{% endfor %}
				</ul>
			</div><!-- sidenave -->
			<div class="col-md-9">
				<div class="d-block d-md-none">
					<form class="form-inline">
						<div class="form-group">
							<label>选择帮助条目: </label>
							<select class="form-control" id="help-select">
								{% for h in help_pages %}
								<option data-help-url="{{h.url}}"{% if h.zconf.name == page.zconf.name%} selected{%endif%} id="toc-{{h.zconf.name}}">{{h.zconf.name}}</option>
								{% endfor %}
							</select>
						</div>
					</form>
				</div>
				<button id="debug-restore" style="display: none;">debug-restore</button>
				<div id="help-content" data-helpz-not-ready data-cannot-copy>
					{{ content }}
				</div>
			</div><!-- help content -->
	  </div>
	</div><!--/container -->
</div><!--/mirrors -->

	{% include footer.html %}
<script type="text/x-tuna-zhelp-tmpls" id="zhelp-tmpls"></script>
<script>
  document.getElementById("zhelp-tmpls")["zhelp-tmpls"] = [{{ page.templates | join: "," }}];
  document.getElementById("zhelp-tmpls")["zhelp-name"] = {{ page.zconf.name | jsonify }};
</script>
</body>
</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
