<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
	{% include nav.html %}

{% assign help_pages = (site.categories["help"] | sort: 'mirrorid') %}
<div id="help-page">
	<div class="container">
	  <div class="row">
		  <div class="col-sm-2 hidden-xs">
				<ul class="nav nav-pills nav-stacked" id="help-nav">
					{% for h in help_pages %}
					<li{% if h.mirrorid == page.mirrorid%} class="active"{%endif%}><a href="{{h.url}}">{{h.mirrorid}}</a></li>
					{% endfor %}
				</ul>
			</div><!-- sidenave -->
			<div class="col-sm-10">
				<div class="visible-xs">
					<form class="form-inline">
						<div class="form-group">
							<label>选择帮助条目: </label>
							<select class="form-control" id="help-select">
								{% for h in help_pages %}
								<option data-help-url="{{h.url}}"{% if h.mirrorid == page.mirrorid%} selected{%endif%}>{{h.mirrorid}}</option>
								{% endfor %}
							</select>
						</div>
					</form>
				</div>
				<div id="help-content">
					{{ content }}
				</div>
			</div><!-- help content -->
	  </div>
	</div><!--/container -->
</div><!--/mirrors -->

	{% include footer.html %}
</body>

<script src="/static/js/help.js"></script>

</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
