<!DOCTYPE html>
<html lang="zh-Hans-CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{{ site.title }}</title>
	<link href="/static/ustc/css/fonts.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
	<script src="/static/js/jquery.min.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/bootstrap.min.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/bootstrap-select.min.js?{{ site.data['hash'] }}"></script>
	<!-- <script src="/static/js/vue.min.js?{{ site.data['hash'] }}"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.0.5/dist/vue.js"></script>
	<script src="/static/js/timeago.min.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/markup.min.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/webfont.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/thuhidden.js?{{ site.data['hash'] }}"></script>
	{% include ustc/style.html %}
</head>

<body>
	{% include ustc/header.html %}
	<div id="wrapper">
		<div id="mirror-list">
			<div id="filelist">
				<div>
					<h3 id="filetitle">文件列表</h3>
					<input placeholder="按 S 过滤" id="search" type="search" autocomplete="off" />
				</div>
				<table class="filelist">
					<thead>
						<tr id="firstline">
							<th id="name">Folder</th>
							<th class="update">Last Update</th>
							<th id="help">Help</th>
						</tr>
					</thead>
					<tbody>
						{% raw %}
						<tr v-for="mir in filteredMirrorList" :key="mir.name">
							<td class="filename"><a :href="getURL(mir)">{{ mir.name }}</a></td>
							<td class="filetime">{{ mir.last_update }}</td>
							<td class="help">
								<a v-if='mir.help_url' :href="mir.help_url">Help</a>
							</td>
						</tr>
						{% endraw %}
					</tbody>
				</table>
			</div>
		</div>
		{% include ustc/sidebar.html %}
	</div>
	{% include ustc/footer.html %}
	<div class="modal" id="isomodal">
		<div class="modalclear" id="isomodalclear" onclick="modal()"></div>
		<div class="modalcontainer" id="isomodalcontainer" onclick="">
			<div class="modaltitle" id="isomodaltitle"><span>获取安装镜像</span><span onclick="modal()"
					style="float:right;cursor:pointer">X</span></div>
			<div class="modalcontent" id="isomodalcontent">
				<p>选择安装发行版： <select id="isodistro" onchange="switchdistro()"></select></p>
				<p>选择发行版版本： <select id="isoversion">
						<option value="none">-</option>
					</select>
				</p>
				<span class="btn" onclick="downloadiso();">获取 ISO &gt;</span>
			</div>
		</div>
	</div>
	{% include ustc/script.html %}
	<script src="/static/js/index.js?{{ site.data['hash'] }}"></script>
	<script src="/static/js/browser-update.js?{{ site.data['hash'] }}"></script>
</body>

</html>