<!DOCTYPE html>
<html lang="zh-Hans">
{% capture metaDesc %}{{ page.title }}{% endcapture %}
	{% include head.html cattitle="镜像站新闻" metaDesc=metaDesc %}
<body>
	{% include nav.html %}

<div id="news-page">
	<div class="spacing"></div>
	<div class="container">
	  <div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div>
					<div id="news-content">
						<article>
							<div class="head">
								<h3># {{page.title}}</h3>
							</div>
							<div class="text-secondary mb-2">
								{% fa_svg fas.fa-calendar %} {{page.date | date: "%Y-%m-%d"}} <span style="margin-left: 1em"> {% fa_svg fas.fa-user %} {{ page.author }}</span>
							</div>
							<div class="content">{{page.content | markdownify }}</div>
						</article>
					</div>
				</div>
			</div><!-- news content -->
			<div class="col-md-2"></div>
	  </div>
	</div><!--/container -->
	<div class="spacing"></div>
</div>

	{% include footer.html %}
</body>

</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
